<!DOCTYPE html>
<html ng-app="exampleApp">
  <head>
    <title>Directives</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

    <script>
      angular.module("exampleApp", [])
        .controller("defaultCtrl", function ($scope) {

          $scope.data = {};

          $scope.todos = [
            {action:"Get groceries", complete:false},
            {action:"Call plumber", complete:false},
            {action:"Buy running shoes", complete:true},
            {action:"Buy flowers", complete:false},
            {action:"Call family", complete:false}];

          // $scope.viewFile = function(){
          //   return $scope.showList ? "list.html" : "table.html";
          // };
          //
          // $scope.reportChange = function(){
          //   console.log("Displayed content : "+$scope.viewFile());
          // };
        });
    </script>
    <style>
      .odd {background-color: lightcoral}
      .even {background-color: lavenderblush}
    </style>
  </head>
  <body>
    <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
      <h3 class="panel-header">To Do List</h3>

      <div class="well">
        <div class="radio" ng-repeat="button in ['None', 'Table', 'List']">
          <label ng-cloak>
            <input type="radio" ng-model="data.mode" value="{{button}}" ng-checked="$first" />
            {{button}}
          </label>
        </div>
      </div>

      <div ng-switch on="data.mode" ng-cloak>
        <div ng-switch-when="Table">
          <table class="table">
            <thead>
              <tr>
                <th>#</th><th>Action</th><th>Done</th>
              </tr>
            </thead>
            <tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'">
              <td>{{$index+1}}</td>
              <td ng-repeat="prop in item">{{prop}}</td>
            </tr>
          </table>
        </div>
        <div ng-switch-when="List">
          <ol>
            <li ng-repeat="item in todos">
              {{item.action}}<span ng-if="item.complete">(Done)</span>
            </li>
          </ol>
        </div>
        <div ng-switch-default>
          Select another option to display a layout
        </div>
      </div>
    </div>
  </body>
</html>
